<div class="restaurant_x">
  <span class="restaurant_photo"><%= image_tag result['photo_url'] %></span>
  <span class="restaurant_name"><%= result['name'] %></span>
  <span class="restaurant_rating"><%= image_tag result['rating_img_url'] %></span>
  <span class="restaurant_rating"><%= image_tag result['rating_img_url'] %></span>
  <span class="restaurant_address"><%= result['address1'] %></span>
  <span class="restaurant_phone_number"><%= result['phone'] %></span>
</div>