<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant 1:</b>
  <%= @fight.restaurant_1_id %>
</p>

<p>
  <b>Restaurant 2:</b>
  <%= @fight.restaurant_2_id %>
</p>

<p>
  <b>Votes for 1:</b>
  <%= @fight.votes_for_1 %>
</p>

<p>
  <b>Votes for 2:</b>
  <%= @fight.votes_for_2 %>
</p>