<!DOCTYPE html>
<html>
<head>
	<title>Foodfight: Many restaurants enter, only one restaurant leaves! Vote for what you want to have for lunch.</title>

	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<!-- GOOGLE FONTS -->
	<link href='http://fonts.googleapis.com/css?family=Patrick+Hand|Permanent+Marker|Walter+Turncoat' rel='stylesheet' type='text/css'>
	
	<meta name="viewport" content="width=device-width, target-densitydpi=160dpi, initial-scale=1.0">
</head>
<body>

<div class="container">

	<div id="header">
		<a href="/" class="logo"><img src="../../assets/logo.png" alt="Food Fight!" /></a>

		<% if current_user %>
		<div class="logged-in">Logged in as <%= current_user.id %></div>
		<% else %>
		<div class="not-logged-in">Not logged in.</div>
		<% end %>
	</div>
	<%= yield %>
	<div id="footer">
		<ul>
			<li><a href="">About this App</a></li>
			<li>&copy; 2012 Derp.</li>
		</ul>
	</div>
</div>

</body>
</html>
